body{
    margin-top: 100px;
}

#content{
    margin: auto;
    width: 1000px;
   
}
.option1{
    width: 200px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}
#nav{
    float: left;
    width: 25%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
#nav img{
    margin: 25px;
    margin-bottom: 5px;
}
#section{
    float: right;
    width: 75%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#menu{
    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #777;
    z-index:1000;
    color: white;
}
#menu .element1{
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Arvo', serif;
    float: left;
    text-align: center;
    color: white;
    font-size: 25px;
}
#menu a{
    text-decoration: none;
    color: white;
}
#menu .element1 a:active{
    text-decoration: none;
    font-weight: 900;
    color: rgb(68, 131, 190);
}
#menu .element1 a:hover{
    text-decoration: none;
    font-weight: 900;
    color: rgb(198, 211, 223);
}


#menu .element{
    float: right;
    text-align: center;
}

#menu .element .icon{
    margin: auto 0 auto 0;
}
#menu img{
    float: left;
    margin: 3px;

}

.comm{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: auto;
    top: -35px;
    
    background: #e7e7e7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 90%;
    position: relative;
}
.data{
    font-size: 8px;
    padding-bottom: 7px;
}
.com{
    margin-top:2px;
    padding: 5px;
    background: #f7f7f7;
}

.msg{
    margin: auto;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 90%;
    position: relative;
}
.upload{
    margin: auto;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100vw;
    position: relative;
}

.msg .post{
    position: relative;
    top: 10px;
    padding: 5px;
    background-color: #fdfdfd;
    width: 95%;
    
}
.msg .login{
    position: absolute;
    top: 25px;
    left: 70px;
    font-weight: bold;
    font-size: 12px;
    width: 95%;
    
}
.msg .data{
    top: 40px;
    left: 70px;
    position: absolute;
    font-size: 11px;
    width: 95%;
    
}

#bio{
    margin: 10px;
}
#bio #head #ddhead{
    font-size: 9px;
    color:#777;
}
#bio img{
    margin: 0px;
    margin-bottom: 0px;
}

.likes{
    display: block;
    float: right;
    position: relative;
    top: -40px;
    margin-right: 40px;

}

.login-form {
    width: 340px;
    margin: 50px auto;
}


.form-group{
    margin: 5px;
}

.post-form form {
    margin: auto;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 90%;
}
.post-form h2 {
    margin: 0 0 15px;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
    width: 95%;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.ddchose{
    position: relative;
    margin: auto auto;
    display: block;
    width: 400px;
    height: 60px;
    font-family: 'Arvo', serif;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.ddchose a{
    text-decoration: none;
    color: white;    
}
.ddchose a:focus, a:hover {
    text-decoration: none;
    color: white;  
} 



.ddelement{
    z-index: 10;
    display: none;
    position: absolute;
    padding: 0px;
    
}    
.ddelement ul{
    padding: 0px;
}
.ddelement li{
    display: block;
    border-bottom: 1px solid black;
    margin: 0; 
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    list-style-type: none;
    
    font-family: 'Arvo', serif;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 60px;
}
.ddelement a{
    display: block;
    position: relative;
    border:none;
    border-bottom: 1px solid #a69dffff;
    height: 60px;
    text-decoration: none;
    color: white;
}
.ddelement a:hover{
    display: block;
    position: relative;
    border:1px solid white;
    border-bottom: 1px solid #a69dffff;
    height: 60px;
    text-decoration: none;
    color: white;
}

#ddhead{
    font-size: 10px;
    margin-bottom: 5px;
    color:#777;
}

.ddel0 a{
    background-image: url(../img/dd/0.png);
}
.ddel1 a{
    background-image: url(../img/dd/1.png);
}
.ddel2 a{
    background-image: url(../img/dd/2.png);
}
.ddel3 a{
    background-image: url(../img/dd/3.png);
}
.ddel4 a{
    background-image: url(../img/dd/4.png);
}
.ddel5 a{
    background-image: url(../img/dd/5.png);
}
.ddel6 a{
    background-image: url(../img/dd/6.png);
}
.ddel7 a{
    background-image: url(../img/dd/7.png);
}
.ddel8 a{
    background-image: url(../img/dd/8.png);
}
